@import './iconfont.css';

:root,
page {

  --pc-max-width: 780rpx; /* pc端最大宽度 */

  --app-bg-color: #f8faf8; /* app背景色 */
  --app-border-color:#e5e7eb; /* app边框色 */

  --app-primary-color: #047857b3; /* app主色 */
  --app-primary-color2: #1b9d6e;  /* app主色2 */
  --app-primary-color3: #c6e7d8;  /* app主色3 (薄荷绿) */
  --app-secondary-color: #d1fae5; /* app次级色 */

  --app-green-color: #007a31;       /* app绿色(大乱斗) */
  --app-green-text-color: #3acb70;

  --app-text-color2: #006947; /* app文字颜色 */
  --app-text-color3: #4b695d; /* app文字颜色2 */
  --app-text-dark-color2:#476459; /* app文字暗色 */
  --app-text-block-color: #191c1b; /* app文字黑色 */
  --app-text-gray-color: #3d4a42; /* app文字灰色 */

  --app-input-placeholder:#47645999;  /* app输入框占位文字颜色 */

  --app-icon-dark-color:#6d7a72; /* app图标暗色 */


  // 修改按主题色
  // --wot-color-theme: #37c2bc;

  // 修改按钮背景色
  // --wot-button-primary-bg-color: green;
}


/* 文字大小尺寸 */
@for $i from 1 through 100 {
  @if $i % 5 == 0 {
    // 每到5的倍数时执行
    .text-#{$i}rpx{
      font-size: #{$i}rpx;
    }
  }
}


/* 关于uniapp的样式重置 */
uni-page-body {
  height: 100%;
}

#app-layout{
  // color: var(--app-text-color);
  height: 100%;
  background-color: var(--app-bg-color);

  /* 无滚动等高容器 */
  .app-page{
    box-sizing: border-box;
  }

  .app-scroll-page{
    box-sizing: border-box;
  }

}

/* 布局容器 */
.section{
  padding: 0 38rpx;
}