@import './iconfont.css';

:root,
page {
  --app-bg-color: #f8faf8; /* app背景色 */
  --app-border-color:#e5e7eb; /* app边框色 */

  --app-primary-color: #047857b3; /* app主色 */
  --app-secondary-color: #d1fae5; /* app次级色 */

  --app-text-color2: #006947; /* app文字颜色 */


  // 修改按主题色
  // --wot-color-theme: #37c2bc;

  // 修改按钮背景色
  // --wot-button-primary-bg-color: green;
}


/* 文字大小尺寸 */
@for $i from 1 through 100 {
  @if $i % 5 == 0 {
    // 每到5的倍数时执行
    .text-#{$i}rpx{
      font-size: #{$i}rpx;
    }
  }
}


.test {
  // 可以通过 @apply 多个样式封装整体样式
  @apply mt-4 ml-4;

  padding-top: 4px;
  color: red;
}
